<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Groupomania</title>

    <meta charset="utf-8" />
    <meta name="description" content="Réseau social d'entreprise" />
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico" /> -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link href="../css/style.css" rel="stylesheet" />
    <link href="../css/login.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div id="app">
      <!-- Header -->
      <header>
        <div class="limitedWidthBlockContainer informations">
          <div class="limitedWidthBlock">
            <ul>
              <li>
                <img
                  src="../images/icons/phone.svg"
                  alt="logo de téléphone"
                  class="informations__phone"
                />{{tel}}
              </li>
            </ul>
          </div>
        </div>
        <div class="limitedWidthBlockContainer menu">
          <div class="limitedWidthBlock">
            <a href="./index.html">
              <img
                class="logo"
                src="../images/logo.png"
                alt="Logo de l'entreprise"
              />
            </a>
            <nav>
              <ul>
                <li><button v-on:click="signup()">signup</button></li>
                <li><button v-on:click="login()">login</button></li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- Affichage des menus login ou signup -->
        <section class="items limitedWidthBlockContainer" id="items">
          <div v-if="loginForm| signupForm " class="cart__order">
            <form method="get" class="cart__order__form">
              <div class="cart__order__form__question">
                <label for="email">Email: </label>
                <input type="email" v-model="email" id="email" required />

                <p v-if="!email">Valeur obligatoire requise</p>
              </div>

              <div class="cart__order__form__question">
                <label for="passwd">Passwd: </label>
                <input type="passwd" v-model="passwd" id="passwd" required />
                <p v-if="!passwd">Valeur obligatoire requise</p>
              </div>

              <div v-if="signupForm" class="cart__order__form__question">
                <label for="pseudo">Pseudo: </label>
                <input type="text" v-model="pseudo" id="pseudo" required />
                <p v-if="!pseudo">Valeur obligatoire requise</p>
              </div>

              <div v-if="loginForm" class="cart__order__form__submit">
                <input
                  @click="validateLogin()"
                  type="submit"
                  value="Valider"
                  id="order"
                />
              </div>

              <div v-if="signupForm" class="cart__order__form__submit">
                <input
                  @click="validateSignup()"
                  type="submit"
                  value="Valider"
                  id="order"
                />
              </div>
            </form>
          </div>
        </section>
        <!-- Fin affichage des menus login et signup -->
        <img class="banniere" src="../images/banniere.png" alt="Baniere" />
      </header>
      <!-- Fin du header -->

      <!-- Main -->

      <main class="limitedWidthBlockContainer">
        <div class="limitedWidthBlock">
          <div class="titles">
            <h1>{{message}}</h1>
            <h2>Voici un espace d'échange entre les salariés</h2>
            <h2>Pour tout ce que vous voulez partager sur l'entreprise</h2>
            <h2>Tout est permis, mais avec modération.</h2>
          </div>
        </div>
      </main>

      <!-- Footer -->

      <footer>
        <div class="limitedWidthBlockContainer footerMain">
          <div class="limitedWidthBlock">
            <div>
              <img
                class="logo"
                src="../images/logo.png"
                alt="Logo de l'entreprise"
              />
            </div>
            <div>
              <p>{{adresse}} <br />{{ville}}</p>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="https://unpkg.com/vue@next"></script>

    <script>
      //----------------------------------------------------------------------------
      // vuejs3
      //----------------------------------------------------------------------------

      const RootComponent = {
        //les data
        data() {
          return {
            // infos de l'entreprise
            message: "Bonjour à tous",
            adresse: "rue de l'horizon",
            ville: "19300 labas sur Correze",
            tel: "01 23 45 67 89",

            // infos de login et signup
            loginForm: false, // Formulaire de login
            signupForm: false, //formulaire de signup
            email: "",
            passwd: "",
            pseudo: "",
            userId: "", //userId renvoyé par le login
            moderator: false, //moderator renvoyé par le login
            token: "", //token renvoyé par le login
          };
        }, // fin des data

        //----------------------------------------------------------------------------
        //Initialisation de la page
        //-----------------------------------------------------------------------------
        beforeCreate() {},

        //----------------------------------------------------------------------------
        // Suite initialisation
        // Affichage de la page au chargement

        //----------------------------------------------------------------------------
        created() {}, // Fin created

        //------------------------------------------------------------------------------------
        // Page complètement chargée
        //------------------------------------------------------------------------------------
        mounted() {},

        //------------------------------------------------------------------------------------
        // Les methodes
        //------------------------------------------------------------------------------------
        methods: {
          //-----------------------------------------------------------------------------------------
          // signup
          // affichage du formulaire de  signup
          // et repli du formulaire de login
          //
          // et init variables
          //-------------------------------------------------

          signup() {
            console.log("signup");
            this.signupForm = true; // ouverture formulaire signup
            this.loginForm = false; // on replie le formulaire login
            this.email = "";
            this.passwd = "";
            this.pseudo = "";
          },
          //-----------------------------------------------------------------------------------------
          // validateSignup
          // Signup d'un utilisateur quand il a cliqué sur validate
          // param:
          //    methode: POST
          //    URL: URL=http://localhost:3000/api/auth/login
          //    data: email, passwd, pseudo
          //---------------------------------------------------------------------------------

          validateSignup() {
            try {
              console.log("validate signup ");
              event.preventDefault(); //evite le rechargt de la page
              // regex pour le mail
              const patern = RegExp(
                "^([a-zA-Z0-9_-])+([.]?[a-zA-Z0-9_-]{1,})*@([a-zA-Z0-9-_]{2,}[.])+[a-zA-Z]{2,3}$"
              );

              const pseudoPatern = /^[A-Za-z0-9]+$/; //lettres + chiffres
              const userCreatedOK = "Utilisateur créé"; //msg renvoyé du back si user crée

              // test si champs non vides pour valider le formulaire
              if (
                this.email !== "" &&
                this.passwd !== "" &&
                this.pseudo !== ""
              ) {
                //test validité du mail
                if (patern.test(this.email)) {
                  if (pseudoPatern.test(this.pseudo)) {
                    // les data du body du fetch
                    const data = {
                      email: this.email,
                      password: this.passwd,
                      pseudo: this.pseudo,
                    };

                    //Url  du user
                    const userUrl = "http://localhost:3000/api/auth/signup";

                    //header
                    const bearerToken = "bearer null";

                    fetch(userUrl, {
                      method: "POST",
                      headers: {
                        "Content-Type": "application/json",
                        Authorization: bearerToken,
                      },
                      body: JSON.stringify(data),
                    })
                      .then((response) => response.json()) //reponse du fetch
                      .catch((error) => {
                        console.log("Fetch error: ", error);
                      })
                      .then((response) => {
                        if (response.message.includes(userCreatedOK)) {
                          window.alert(
                            response.message +
                              "  - Vous pouvez vous connecter avec vos identifiants"
                          );
                        } else {
                          window.alert(response.message);
                        }
                        // On recharge la page et on reinit les variables.
                        window.location.href = "./index.html"; // on recharge la page d'accueil
                        this.SignupForm = false; // on replie le formulaire et on reinit les variables.
                        this.email = "";
                        this.passwd = "";
                        this.pseudo = "";
                      })
                      .catch((error) => {
                        console.log("Response error: ", error);
                      });
                  } //fin test pseudo
                  else {
                    window.alert(
                      "pseudo invalide ne doit contenir que des lettres et des chiffres"
                    );
                  }
                } else {
                  window.alert(
                    "email invalide doit être de la forme abc@xx.xx"
                  );
                } // Fin test du mail valide
              } else {
                window.alert(
                  "les champs du formulaire ne doivent pas être vides"
                );
              } //fin test variables vides
            } catch (err) {
              console.log("erreur ft signup : " + err);
            }
          }, //Fin Validate signup

          //------------------------------------------------------------------------------
          //Cancel signup
          // si l'utilisateur a cliqué sur le bouton cancel.
          //---------------------------------------------------------------------------------
          cancelSignup() {
            this.signupForm = false; // on replie le formulaire et on reinit les variables.
            this.email = "";
            this.passwd = "";
            this.pseudo = "";
          },
          //-----------------------------------------------------------------------------------------
          // login
          // affichage du formulaire de  login  et repli du formulaire de signup
          // et init des variables
          //
          // param: aucun
          //-------------------------------------------------

          login() {
            console.log("login");
            this.loginForm = true; // ouverture formulaire login
            this.signupForm = false; // on replie le formulaire signup
            this.email = "";
            this.passwd = "";
            this.pseudo = "";
          },
          //-----------------------------------------------------------------------------------------
          // validateLogin
          // login d'un utilisateur quand il a cliqué sur validate
          // param:
          //    methode: POST
          //    URL: URL=http://localhost:3000/api/auth/login
          //    data: email, passwd
          //---------------------------------------------------------------------------------

          validateLogin() {
            try {
              console.log("login ");
              event.preventDefault(); //evite le rechargt de la page

              // definition d'une class pour déclarer le user dans le local storage.
              class localStorageUser {
                constructor(
                  pseudo,
                  userId,
                  token,
                  moderator,
                  userInLocalStorageOK
                ) {
                  this.pseudo = pseudo;
                  this.userId = userId;
                  this.token = token;
                  this.moderator = moderator;
                  this.userInLocalStorageOK = userInLocalStorageOK;
                }
              }

              // les data du body du fetch
              const data = { email: this.email, password: this.passwd };

              //Url  du user
              const userUrl = "http://localhost:3000/api/auth/login";

              //header
              const bearerToken = "bearer null";

              fetch(userUrl, {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                  Authorization: bearerToken,
                },
                body: JSON.stringify(data),
              })
                .then((response) => response.json()) //reponse du fetch
                .catch((error) => {
                  console.log("Fetch error: ", error);
                })
                .then((response) => {
                  this.userId = response.userId;
                  this.token = response.token;
                  this.moderator = response.moderator;
                  this.pseudo = response.pseudo;
                  console.log(this.userId + this.pseudo);
                  //test userId valide crée
                  if (this.userId) {
                    // Maj local storage avec le nouveau user connecté

                    let userConnected = new localStorageUser(
                      "",
                      0,
                      "",
                      0,
                      false
                    );
                    userConnected.userId = this.userId;
                    userConnected.moderator = this.moderator;
                    userConnected.token = this.token;
                    userConnected.pseudo = this.pseudo;
                    userConnected.userInLocalStorageOK = true;

                    // Maj de la clé user dans le local storage
                    localStorage.setItem("user", JSON.stringify(userConnected));

                    window.alert("Connexion OK  - Bonjour " + this.pseudo);

                    // On va sur la page posts
                    window.location.href = "./posts.html"; // on retourne à la page d'accueil
                  } else {
                    window.alert("login failed");
                  }
                })
                .catch((error) => {
                  console.log("Response error: ", error);
                });
            } catch (err) {
              console.log("erreur ft login " + err);
            }
          }, //Fin Validate login

          //------------------------------------------------------------------------------
          //Cancel login
          // si l'utilisateur a cliqué sur le bouton cancel.
          //---------------------------------------------------------------------------------
          cancelLogin() {
            this.loginForm = false; // on replie le formulaire et on reinit les variables.
            this.email = "";
            this.passwd = "";
            this.pseudo = "";
          },
        }, // Fin des methodes
      }; // Fin RootComponent

      const app = Vue.createApp(RootComponent).mount("#app");
      console.log(app);
    </script>
  </body>
</html>
