<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <div id="app-vue">
      <div class="users">
        <div v-if="errored">
          <p>
            We're sorry, we're not able to retrieve this information at the
            moment, please try back later
          </p>
        </div>

        <div v-else>
          <h4 v-if="loading">Loading...</h4>
          <div v-for="item in posts" :key="post" class="post">
            {{item.post}}
          </div>
        </div>
      </div>
    </div>

    <script>
      new Vue({
        el: "#app-vue",
        data() {
          return {
            posts: null,
            loading: false,
            errored: false,
          };
        },
        created() {
          // Creating loader
          this.loading = true;
          this.posts = null;
          const userToken = localStorage.getItem("user").token;
          console.log("token" + userToken);
          console.log("appel GET axios");
          const bearerToken = "Bearer" + userToken;
          console.log(" bearerToken  :  " + bearerToken);
          axios
            .get(`http://localhost:3000/api/post/`, {
              headers: {
                Authorization: bearerToken,
              },
            })
            .then((response) => {
              console.log("reponse du back", response);
              // JSON responses are
              // automatically parsed
              console.log("reponse du back data", response.data);
              this.posts = response.data.posts;
            })

            // Dealing with errors
            .catch((error) => {
              console.log("error", error);
              this.errored = true;
            });
        },
      });
    </script>
  </body>
</html>
