<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Groupomania</title>

    <meta charset="utf-8" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <meta name="description" content="Réseau social d'entreprise" />
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico" /> -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!--Fontawsome-->
    <script
      src="https://kit.fontawesome.com/6a1e5290f1.js"
      crossorigin="anonymous"
    ></script>

    <!--Appel Normalize-->
    <link rel="normalize" href="CSS/normalize.css" />
    <link href="../css/style.css" rel="stylesheet" />
    <link href="../css/login.css" rel="stylesheet" />
    <link href="../css/posts.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <!-- Le header avec icone + navigation -->
    <div id="app">
      <header>
        <div class="limitedWidthBlockContainer informations">
          <div class="limitedWidthBlock">
            <ul>
              <li>
                <img
                  src="../images/icons/phone.svg"
                  alt="logo de téléphone"
                  class="informations__phone"
                />{{tel}}
              </li>
            </ul>
          </div>
        </div>
        <div class="limitedWidthBlockContainer menu">
          <div class="limitedWidthBlock">
            <a href="./index.html">
              <img
                class="logo"
                src="../images/logo.png"
                alt="Logo de l'entreprise"
              />
            </a>

            <!-- Boutons nav pour gérer la deconnexion et la maj profil -->
            <nav>
              <div>
                <div class="flexColumns">
                  <!-- Boutons de navigation -->
                  <div class="HeaderButton">
                    <!-- Cas du user connecté on affiche les boutons profil et logout -->
                    <template v-if="isUserConnected">
                      <ul>
                        <li><button v-on:click="logout()">Logout</button></li>

                        <li>
                          <button v-on:click="profil()">Mon profil</button>
                        </li>
                      </ul>
                    </template>
                    <template v-else>
                      <!-- Cas du user non connecté on affiche le bouton accueil qui fait le logout-->
                      <ul>
                        <li><button v-on:click="logout()">Accueil</button></li>
                      </ul>
                    </template>
                  </div>
                  <!--Fin boutons de navigation    -->

                  <!-- Debut formulaire de modif profil -->
                  <template v-if="modifyProfilForm">
                    <div>
                      <div class="profilMenu">
                        <ul class="pucesItems">
                          <!-- Affichage du menu de modif du profil-->
                          <!-- Menu avec 4 choix -->
                          <!-- sera caché quand on aura fait le choix -->
                          <li v-if="!askValue" @click="modifyEmailProfil()">
                            Modification email
                          </li>
                          <li v-if="!askValue" @click="modifyPasswdProfil()">
                            Modification passwd
                          </li>
                          <li v-if="!askValue" @click="modifyPseudoProfil()">
                            Modification pseudo
                          </li>
                          <li v-if="!askValue" @click="deleteProfil()">
                            Suppression du compte
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- Champ pour saisir la nouvelle valeur -->
                    <div v-if="askValue">
                      <label for="newValue"
                        >Modification {{valueToModify}} Nouvelle valeur</label
                      >
                      <input type="text" v-model="newValue" id="newValue" />

                      <div v-if="displayOkCancel" class="flexRows">
                        <!-- Boutons pour valider ou annuler la modif -->
                        <div>
                          <input
                            @click="validateModifyProfil()"
                            type="submit"
                            value="Valider"
                          />
                        </div>

                        <div>
                          <input
                            @click="cancelModifyProfil()"
                            type="submit"
                            value="Annuler"
                          />
                        </div>
                      </div>
                      <!-- Fin des boutons valid/cancel -->
                    </div>

                    <!-- partie suppression du compte -->
                    <div v-if="deleteValue" class="flexColons">
                      <h3>Delete compte de {{connectedName}}</h3>
                      <div class="flexRows">
                        <div>
                          <input
                            @click="validateDeleteProfil()"
                            type="submit"
                            value="Valider suppression du compte"
                          />
                        </div>

                        <div>
                          <input
                            @click="cancelDeleteProfil()"
                            type="submit"
                            value="Annuler suppression du compte"
                          />
                        </div>
                      </div>
                    </div>
                    <!-- Fin  suppression du compte -->
                  </template>
                  <!-- Fin formulaire de modif du profil (modif ou suppression)-->
                </div>

                <!-- -->
              </div>
            </nav>

            <!-- Fin  nav avec boutons accueil ou profil/logout-->
          </div>
          <!-- Fin du bloc avec les boutons de navigation -->
        </div>
        <!-- Fin du bloc entête -->
      </header>
      <!-- Fin du header -->

      <!-- ******************************************************************************** -->

      <!-- <main> -->
      <main>
        <h1>les posts des salariés de Groupomania</h1>
        <template v-if="!isUserConnected">
          <!-- Cas du user non connecté qui aurait ouvert la page par mégarde -->
          <h2>Vous n'êtes pas connecté</h2>
          <h2>Retournez sur la page accueil</h2>
          <h2>pour vous connecter</h2>
        </template>

        <template v-else>
          <!-- Affichage entete pour les users connectés -->
          <div class="postHeader">
            <h3>Bonjour {{connectedName}} {{connectedUserId}}</h3>
            <template v-if="connectedModerator">
              <h3>Vous êtes moderateur</h3>
            </template>
            <div>
              <!-- Bouton pour créer un post -->

              <button class="createPostButton" @click="createPost()">
                Créer un post
              </button>
            </div>

            <!-- Debut formulaire de creation du post -->
            <template v-if="createPostForm">
              <!-- Affichage du formulaire de creation du post -->
              <span v-if="newPost">Votre nouveau post : {{ newPost }}</span>
              <div>
                <label for="newPost">Votre nouveau post</label>
                <input type="text" v-model="newPost" id="newPost" />
              </div>

              <!-- Boutons pour valider ou annuler cette creation -->
              <div>
                <input
                  @click="validateCreationPost()"
                  type="submit"
                  value="Valider"
                />
              </div>
              <div>
                <input
                  @click="cancelCreationPost()"
                  type="submit"
                  value="Annuler"
                />
              </div>
            </template>
            <!-- Fin formulaire de creation du post -->
          </div>
          <!-- Fin affichage entête des connectés -->

          <!-- ********************************************************************** -->

          <!-- Partie affichage des posts -->
          <div>
            <!-- cas serveur indisponible -->
            <template v-if="errored">
              <p>Serveur indisponible</p>
            </template>

            <!-- Affichage des posts -->
            <template v-else>
              <h4 v-if="loading">Loading... dernières nouvelles</h4>
              <h4 v-else>Dernières nouvelles</h4>
              <div class="postsList">
                <div
                  v-for="itemPost in posts.posts"
                  :key="itemPost.postId"
                  class="post"
                >
                  <article class="postArticle">
                    <div class="postItem">
                      <div class="postHeader">
                        <div class="postDate">
                          <p>Date: {{itemPost.date}}</p>
                        </div>
                        <div class="postOwner">
                          <p>par: {{itemPost.pseudo}}</p>
                        </div>

                        <!-- La petite poubelle pour detruire le post -->
                        <!-- et le petit crayon pour le modifier -->
                        <!-- Affichés seulement pour le moderateur ou proprietaire du post -->
                        <div>
                          <template
                            v-if="connectedModerator || connectedUserId==itemPost.userId"
                          >
                            <button @click="deletePost(itemPost.postId)">
                              <span class="fas fa-trash"> Delete</span>
                            </button>
                            <button @click="modifyPost(itemPost.postId)">
                              <span class="fas fa-pen"> Modify</span>
                            </button>
                          </template>
                        </div>

                        <!-- Formulaire pour modifier le post -->
                        <template v-if="modifyPostForm===itemPost.postId">
                          <!-- Affichage du formulaire de modif du post -->

                          <div>
                            <label for="newPost">Votre nouveau post</label>
                            <input type="text" v-model="newPost" />
                          </div>

                          <!-- Boutons pour valider ou annuler cette modif -->
                          <div>
                            <input
                              @click="validateModifyPost(itemPost.postId)"
                              type="submit"
                              value="Valider"
                            />
                          </div>
                          <div>
                            <input
                              @click="cancelModifyPost()"
                              type="submit"
                              value="Annuler"
                            />
                          </div>
                        </template>

                        <!-- Fin du formulaire pour modifier le post -->
                      </div>
                      <div class="postInfos">
                        <div class="postText">
                          <p>post n° {{itemPost.postId}} : {{itemPost.post}}</p>
                        </div>
                        <div class="commentButtonsHeader">
                          <button
                            @click="displayComments(itemPost.postId,$event)"
                          >
                            Afficher les commentaires
                          </button>

                          <button @click="createComment(itemPost.postId)">
                            Ajouter un commentaire
                          </button>

                          <!-- Formulaire pour Ajouter un commentaire -->

                          <template v-if="createCommentForm===itemPost.postId">
                            <!-- Affichage du formulaire de creation du commentaire -->
                            <div class="flexColumns">
                              <div>
                                <label for="newComment"
                                  >Votre commentaire</label
                                >
                                <input
                                  type="text"
                                  v-model="newComment"
                                  id="newComment"
                                />
                              </div>
                              <div class="flexRows">
                                <!-- Boutons pour valider ou annuler cette modif -->
                                <div>
                                  <input
                                    @click="validateCreationComment(itemPost.postId)"
                                    type="submit"
                                    value="Valider"
                                  />
                                </div>
                                <div>
                                  <input
                                    @click="cancelCreationComment()"
                                    type="submit"
                                    value="Annuler"
                                  />
                                </div>
                              </div>
                            </div>
                          </template>

                          <!-- Fin formulaire ajout d'un commentaire -->
                        </div>

                        <!-- Partie affichage des commentaires du post -->

                        <template
                          v-for="itemComment in comments.comment"
                          :key="itemComment.commentId"
                          class="comment"
                        >
                          <!-- Affichage des commentaires seulement pour le post selectionné -->
                          <template v-if="itemPost.postId==itemComment.postId">
                            <div class="flexColumns">
                              <div class="commentList">
                                <div class="commentItem">
                                  <div class="commentHeader">
                                    <p>
                                      Date: {{itemComment.date}} par
                                      {{itemComment.pseudo}}
                                    </p>
                                    <div>
                                      <p>{{itemComment.comment}}</p>
                                    </div>
                                  </div>
                                  <div class="commentButtons">
                                    <template
                                      v-if="connectedModerator || connectedUserId==itemComment.userId"
                                    >
                                      <button
                                        @click="deleteComment(itemPost.postId,itemComment.commentId)"
                                      >
                                        <span class="fas fa-trash">
                                          Delete</span
                                        >
                                      </button>
                                      <button
                                        @click="modifyComment(itemComment.commentId)"
                                      >
                                        <span class="fas fa-pen"> Modify</span>
                                      </button>
                                    </template>

                                    <!-- Formulaire pour modifier le commentaire -->
                                    <template
                                      v-if="modifyCommentForm===itemComment.commentId"
                                    >
                                      <!-- Affichage du formulaire de modif du comment -->
                                      <div class="flexColumns">
                                        <!-- champ pour ecrire le nouveau commentaire -->
                                        <div>
                                          <label for="newComment"
                                            >Votre nouveau commentaire</label
                                          >
                                          <input
                                            type="text"
                                            v-model="newComment"
                                          />
                                        </div>

                                        <!-- Boutons pour valider ou annuler cette modif -->
                                        <div class="flexRows">
                                          <div>
                                            <input
                                              @click="validateModifyComment(itemPost.postId,itemComment.commentId)"
                                              type="submit"
                                              value="Valider"
                                            />
                                          </div>
                                          <div>
                                            <input
                                              @click="cancelModifyComment()"
                                              type="submit"
                                              value="Annuler"
                                            />
                                          </div>
                                        </div>
                                      </div>
                                    </template>

                                    <!-- Fin du formulaire pour modifier le commentaire -->
                                  </div>
                                  <!-- Fin partie avec les boutons des commentaires -->
                                </div>
                                <!-- Fin item post -->
                              </div>
                              <!-- Fin liste des commentaires du post -->
                            </div>
                            <!-- Fin partie comments avec nombre puis liste  -->
                          </template>
                          <!--Fin affichage des commentaires du post selectionné  -->
                        </template>
                        <!-- fin de la boucle sur tous les commentaires -->
                      </div>
                      <!-- Fin partie postinfo : partie utile sous l'entête -->
                    </div>
                  </article>
                  <!-- Fin article avec le post, ses petits commentaires -->
                </div>
              </div>
              <!-- Fin liste des posts -->
            </template>
            <!-- Fin affichage des posts avec entête puis liste-->
          </div>
        </template>
        <!-- Fin test user connecté ou nom (isUserConnected) -->
      </main>
      <!-- Fin du main -->

      <!-- Footer -->

      <footer>
        <div class="limitedWidthBlockContainer footerMain">
          <div class="limitedWidthBlock">
            <div>
              <img
                class="logo"
                src="../images/logo.png"
                alt="Logo de l'entreprise"
              />
            </div>
            <div>
              <p>{{adresse}} <br />{{ville}}</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://unpkg.com/vue@next"></script>

    <script>
      //----------------------------------------------------------------------------
      // vuejs3
      //----------------------------------------------------------------------------

      const RootComponent = {
        //les data
        data() {
          return {
            // infos de l'entreprise
            adresse: "rue de l'horizon",
            ville: "19300 labas sur Correze",
            tel: "01 23 45 67 89",
            //nom et infos de l'utilisateur connecté
            isUserConnected: false, //sera true quand le user sera connecté par login
            connectedName: "",
            connectedUserId: "",
            connectedModerator: false,

            //tableau des posts et des commentaires
            posts: [],
            comments: [],
            nbComments: 0, //nombre de commentaires.

            // etats chargement et erreurs
            loading: false,
            errored: false,

            loadingComments: false,
            erroredComments: false,

            // champs du formulaire pour creéation ou modification posts et comments
            createPostForm: false, //sera true pour crer un post
            modifyPostForm: "", //sera egal au num du post à modifier pour modifier un post
            newPost: "",

            createCommentForm: "", //sera egal au num du post sue lequel on veut creer un commentaire
            modifyCommentForm: "", //sera egal au num du commentaire à modifier
            newComment: "",

            // Utilisateurs
            modifyProfilForm: false, // sera true pour modifier le profil de l'utilisateur
            newEmail: "", // nouvel email
            newPasswd: "", //      newPasswd = nouveau passwd
            newPseudo: "", //      newPseudo = nouveau pseudo

            valueToModify: "", // Valeur de profil à modifier
            newValue: "", // Nouvelle valeur du champ modifié

            askValue: false, // sera mis à true pour ouvrir le champ de saisie pour modif profil
            askEmail: false, // sera mis à true pour modifier le champ
            askPseudo: false, // sera mis à true pour modifier le champ
            askpasswd: false, // sera mis à true pour modifier le champ

            deleteValue: false, //sera mis a true pour supprimer un compte
          };
        }, // fin des data

        //----------------------------------------------------------------------------
        //Initialisation de la page
        //-----------------------------------------------------------------------------
        beforeCreate() {
          //loader
          this.loading = true;
        },

        //----------------------------------------------------------------------------
        // Suite initialisation
        // Affichage de la page au chargement
        // et appel de l'API pour afficher les posts.
        // this permet d'acceder aux données de l'application
        //----------------------------------------------------------------------------
        created() {
          // Lecture du local storage pour récupérer les infos du user
          // Rien ne sera affiché si aucun user n'est connecté = local storage vide
          if ("user" in localStorage) {
            this.isUserConnected = true; // c'est bon on a un user connecté.
            const userInLocalStorage = JSON.parse(localStorage.getItem("user")); //objet "user" du local storage

            const userToken = userInLocalStorage.token; // le token

            // Les infos de l'utilisateur connecté

            this.connectedName = userInLocalStorage.pseudo; // le nom affiché en entete de feuille
            this.connectedUserId = userInLocalStorage.userId;
            this.connectedModerator = userInLocalStorage.moderator;

            console.log(
              "user connecte ;" +
                this.connectedName +
                this.connectedUserId +
                this.connectedModerator
            );

            const bearerToken = "Bearer " + userToken;

            const postUrl = "http://localhost:3000/api/post/"; //Url pour récupérer les posts
            fetch(postUrl, {
              method: "GET",
              headers: {
                "Content-Type": "application/json",
                Authorization: bearerToken,
              },
            })
              .then((response) => response.json()) //reponse du fetch
              .catch((error) => {
                console.log("Fetch error: ", error);
                windows.alert(error);
                this.errored = true;
              })
              .then((data) => {
                this.posts = data; //Data renvoyées du serveur
              })
              .catch((error) => {
                console.log("Response error: ", error);
                this.errored = true;
              });
          } // fin test if user in local storage
        }, // Fin created

        //------------------------------------------------------------------------------------
        // Page complètement chargée
        //------------------------------------------------------------------------------------
        mounted() {
          // Load en cours
          this.loading = false;
        },

        //------------------------------------------------------------------------------------
        // Les methodes
        //------------------------------------------------------------------------------------
        methods: {
          //-----------------------------------------------------------------------------------------
          // createPosts
          // Creation d'un post
          //
          // Ouverture du formulaire de creation du post
          //---------------------------------------------------------------------------------

          createPost() {
            try {
              // Lecture du local storage
              // Rien ne sera exécuté si aucun user n'est connecté = local storage vide
              if ("user" in localStorage) {
                console.log("create post");
                this.createPostForm = true; //affichage du formulaire de creation de post
              } // fin du test "user" in local Storage
            } catch (err) {
              //fin du try
              console.log("erreur ft createPost : " + err);
            }
          },

          //-----------------------------------------------------------------------------------------
          // validateCreationPost
          // Creation du post avec click sur bouton valider
          // param: post
          //  methode: POST
          //  URL: http://localhost:3000/api/post/
          //---------------------------------------------------------------------------------
          validateCreationPost() {
            try {
              // Lecture du local storage
              // Rien ne sera exécuté si aucun user n'est connecté = local storage vide
              if ("user" in localStorage) {
                console.log("creation new post : " + this.newPost);

                // Lecture du local storage pour récupérer le token  du user
                let userInLocalStorage = JSON.parse(
                  localStorage.getItem("user")
                ); //objet "user" du local storage
                const userToken = userInLocalStorage.token; // le token

                const bearerToken = "Bearer " + userToken;
                //{"post":" post de toutou 6 mai","imageUrl":""}st/";

                const data = { post: this.newPost, imageUrl: "" };

                //Url des commentaires du post
                const postUrl = "http://localhost:3000/api/post";
                fetch(postUrl, {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                    Authorization: bearerToken,
                  },
                  body: JSON.stringify(data),
                })
                  .then((response) => response.json()) //reponse du fetch
                  .catch((error) => {
                    console.log("Fetch error: ", error);
                    this.erroredComments = true;
                  })
                  .then((response) => {
                    //response OK
                    const retourServer = response;
                    console.log(retourServer.message);
                    this.createPostForm = false; // on replie le formulaire
                    window.alert(retourServer.message); // affiche msg de retour du serveur
                    window.location.reload(); // et on recharge
                  })
                  .catch((error) => {
                    console.log("Response error: ", error);
                    this.erroredComments = true;
                  });
              } // fin du test "user" in local Storage
            } catch (err) {
              //fin du try
              console.log("erreur ft validateCreationPost : " + err);
            }
          }, //Fin validateCreationPost

          //cancel création post
          cancelCreationPost() {
            this.createPostForm = false; // on replie le formulaire
          },

          //-----------------------------------------------------------------------------------------
          // modifyPost
          // Modification d'un post
          //
          // Ouverture du formulaire de modif du post
          //---------------------------------------------------------------------------------

          modifyPost(postId) {
            console.log("modify post");
            this.modifyPostForm = postId; //affichage du formulaire de modif de post
          },

          //-----------------------------------------------------------------------------------------
          // validateModifPost
          // modification du post
          // param: postId
          //  methode: PUT
          //  URL: http://localhost:3000/api/post/postId
          //---------------------------------------------------------------------------------
          validateModifyPost(postId) {
            console.log("modification  post : " + this.newPost);

            // Lecture du local storage pour récupérer le token  du user
            let userInLocalStorage = JSON.parse(localStorage.getItem("user")); //objet "user" du local storage
            const userToken = userInLocalStorage.token; // le token

            const bearerToken = "Bearer " + userToken;

            const data = { post: this.newPost, imageUrl: "" };

            //Url des commentaires du post
            const postUrl = "http://localhost:3000/api/post/" + postId;
            fetch(postUrl, {
              method: "PUT",
              headers: {
                "Content-Type": "application/json",
                Authorization: bearerToken,
              },
              body: JSON.stringify(data),
            })
              .then((response) => response.json()) //reponse du fetch
              .catch((error) => {
                console.log("Fetch error: ", error);
                this.erroredComments = true;
              })
              .then((response) => {
                //response OK

                this.modifyPostForm = ""; // on replie le formulaire

                window.location.reload(); // et on recharge
              })
              .catch((error) => {
                console.log("Response error: ", error);
                this.erroredComments = true;
              });
          }, //Fin validateModifyPost

          //cancel modify post
          cancelModifyPost() {
            this.modifyPostForm = ""; // on replie le formulaire
          },
          //
          //-----------------------------------------------------------------------------------------
          // displayComments
          // Affichage des commentaires du post
          // param: postId
          //  methode: GET
          //  URL: http://localhost:3000/api/post/postId/comment
          //---------------------------------------------------------------------------------
          displayComments(postId, event) {
            console.log(postId);

            // Lecture du local storage pour récupérer le token  du user
            let userInLocalStorage = JSON.parse(localStorage.getItem("user")); //objet "user" du local storage
            const userToken = userInLocalStorage.token; // le token

            const bearerToken = "Bearer " + userToken;

            //Url des commentaires du post
            const commentsUrl =
              "http://localhost:3000/api/post/" + postId + "/comment";

            fetch(commentsUrl, {
              method: "GET",
              headers: {
                "Content-Type": "application/json",
                Authorization: bearerToken,
              },
            })
              .then((response) => response.json()) //reponse du fetch
              .catch((error) => {
                console.log("Fetch error: ", error);
                this.erroredComments = true;
              })
              .then((response) => {
                this.comments = response; //les commentaires renvoyés de l'API
                this.nbComments = this.comments.comment.length;
                console.log("nombre de commentaires: " + this.nbComments);
                if (this.nbComments == 0) {
                  window.alert("pas de commentaires pour ce post");
                }
              })
              .catch((error) => {
                console.log("Response error: ", error);
                this.erroredComments = true;
              });
          }, //Fin displayComments

          //-----------------------------------------------------------------------------------------
          // Delete post
          // Suppression d'un post
          // param: postId
          //  methode: DELETE
          //  URL: http://localhost:3000/api/post/postId
          //---------------------------------------------------------------------------------

          deletePost(postId) {
            console.log("delete post n : " + postId);

            // Lecture du local storage pour récupérer le token  du user
            let userInLocalStorage = JSON.parse(localStorage.getItem("user")); //objet "user" du local storage
            const userToken = userInLocalStorage.token; // le token

            const bearerToken = "Bearer " + userToken;

            //Url  du post
            const postUrl = "http://localhost:3000/api/post/" + postId;

            fetch(postUrl, {
              method: "DELETE",
              headers: {
                "Content-Type": "application/json",
                Authorization: bearerToken,
              },
            })
              .then((response) => response.json()) //reponse du fetch
              .catch((error) => {
                console.log("Fetch error: ", error);
                this.erroredComments = true;
              })
              .then((response) => {
                window.alert(response.message); // affiche msg de retour du serveur
                window.location.reload(); // rafraichit la page
              })
              .catch((error) => {
                console.log("Response error: ", error);
                this.erroredComments = true;
              });
          }, //Fin deletePost

          //---------------------------------------------------------------------------

          //---------------------------------------------------------------------------
          //-----------------------------------------------------------------------------------------
          // DeleteComment
          // Suppression d'un commentaire d'un post
          // param: postId, commentId
          //    methode: DELETE
          //    URL: http://localhost:3000/api/postId/comment/commentId
          //    postId = post dont on veut le commentaires.
          //    commentId: commentaire à modifier
          //---------------------------------------------------------------------------------

          deleteComment(postId, commentId) {
            console.log(
              "delete commentaire n° " + commentId + " du post n : " + postId
            );

            // Lecture du local storage pour récupérer le token  du user
            let userInLocalStorage = JSON.parse(localStorage.getItem("user")); //objet "user" du local storage
            const userToken = userInLocalStorage.token; // le token

            const bearerToken = "Bearer " + userToken;

            //Url  du comment
            const commentUrl =
              "http://localhost:3000/api/post/" +
              postId +
              "/comment/" +
              commentId;

            fetch(commentUrl, {
              method: "DELETE",
              headers: {
                "Content-Type": "application/json",
                Authorization: bearerToken,
              },
            })
              .then((response) => response.json()) //reponse du fetch
              .catch((error) => {
                console.log("Fetch error: ", error);
                this.erroredComments = true;
              })
              .then((response) => {
                this.comments = response;
                window.alert(response.message); // affiche msg de retour du serveur
              })
              .catch((error) => {
                console.log("Response error: ", error);
                this.erroredComments = true;
              });
          }, //Fin deleteComment

          //-----------------------------------------------------------------------------------------
          // createComment
          // Creation d'un commentaire sur un post
          //
          //
          // Ouverture du formulaire de creation du commentaire
          //---------------------------------------------------------------------------------

          createComment(postId) {
            console.log("create comment");
            this.createCommentForm = postId; //affichage du formulaire de creation du commentaire pour le post
            this.newComment = "";
          },

          //-----------------------------------------------------------------------------------------
          // validateCreationComment
          // Creation du commentaire
          // param: post
          //  methode: POST
          //  URL: http://localhost:3000/api/post/postId
          //---------------------------------------------------------------------------------
          validateCreationComment(postId) {
            console.log("creation new comment pour post  : " + postId);

            // Lecture du local storage pour récupérer le token  du user
            let userInLocalStorage = JSON.parse(localStorage.getItem("user")); //objet "user" du local storage
            const userToken = userInLocalStorage.token; // le token

            const bearerToken = "Bearer " + userToken;

            const data = { comment: this.newComment };

            //Url des commentaires du post
            const postUrl =
              "http://localhost:3000/api/post/" + postId + "/comment";
            fetch(postUrl, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                Authorization: bearerToken,
              },
              body: JSON.stringify(data),
            })
              .then((response) => response.json()) //reponse du fetch
              .catch((error) => {
                console.log("Fetch error: ", error);
                this.erroredComments = true;
              })
              .then((response) => {
                //response OK

                console.log(response.message);
                this.createCommentForm = ""; // on replie le formulaire
                this.newComment = "";
                window.alert(response.message); // affiche msg de retour du serveur
              })
              .catch((error) => {
                console.log("Response error: ", error);
                this.erroredComments = true;
              });
          }, //Fin validateCreationComment

          //cancel création comment
          cancelCreationComment() {
            this.createCommentForm = ""; // on replie le formulaire
            this.newComment = "";
          },

          //-----------------------------------------------------------------------------------------
          // modifyComment
          // affichage du formulaire de modif du commentaire pour le post
          //
          // param: commentId
          //-------------------------------------------------

          modifyComment(commentId) {
            console.log("modify  comment");
            this.modifyCommentForm = commentId;
            this.newComment = "";
          },

          //-----------------------------------------------------------------------------------------
          // validateModifyComment
          // Modification d'un commentaire d'un post
          // param: postId, commentId, newComment
          //    methode: PUT
          //    URL: http://localhost:3000/api/postId/comment/commentId
          //    postId = post dont on veut le commentaires.
          //    commentId: commentaire à modifier
          //
          //    newComment: Nouveau commentaire
          //---------------------------------------------------------------------------------

          validateModifyComment(postId, commentId) {
            console.log(
              "modify commentaire n° " + commentId + " du post n : " + postId
            );

            // Lecture du local storage pour récupérer le token  du user
            let userInLocalStorage = JSON.parse(localStorage.getItem("user")); //objet "user" du local storage
            const userToken = userInLocalStorage.token; // le token

            const bearerToken = "Bearer " + userToken;

            const data = { comment: this.newComment };

            //Url  du comment
            const commentUrl =
              "http://localhost:3000/api/post/" +
              postId +
              "/comment/" +
              commentId;

            fetch(commentUrl, {
              method: "PUT",
              headers: {
                "Content-Type": "application/json",
                Authorization: bearerToken,
              },
              body: JSON.stringify(data),
            })
              .then((response) => response.json()) //reponse du fetch
              .catch((error) => {
                console.log("Fetch error: ", error);
                this.erroredComments = true;
              })
              .then((response) => {
                this.modifyCommentForm = ""; // on replie le formulaire
                this.newComment = "";
                window.alert(response.message); // affiche msg de retour du serveur
              })
              .catch((error) => {
                console.log("Response error: ", error);
                this.erroredComments = true;
              });
          }, //Fin ValidateModifyComment

          //cancel modify comment
          cancelModifyComment() {
            this.modifyCommentForm = ""; // on replie le formulaire
            this.newComment = "";
          },

          //--------------------------------------------------------------------------------------
          //-------------------------------------------------------------------------
          //Gestion de la connexion
          //---------------------------------------------------------------------------

          //--------------------------------------------------------------------------
          // Utilisateur:
          //    Gestion du profil et suppression du compte
          //---------------------------------------------------------------------------

          //-----------------------------------------------------------------------------------------
          // profil
          // affichage du formulaire de modif du profile ou de la suppression du compte
          //
          // param: aucun
          //-------------------------------------------------

          profil() {
            console.log("profil utilisateur");
            this.modifyProfilForm = true; // ouverture formulaire profil
          },

          modifyEmailProfil() {
            try {
              this.askValue = "true"; // Ouverture du formulaire pour rentrer la nouvelle valeur
              // du param à modifier

              this.valueToModify = "email";
              this.displayOkCancel = true;
            } catch (err) {
              console.log("Erreur modifyProfil " + err);
            }
          },

          modifyPasswdProfil() {
            try {
              this.askValue = "true"; // Ouverture du formulaire pour rentrer la nouvelle valeur
              // du param à modifier

              this.valueToModify = "password";
              this.displayOkCancel = true;
            } catch (err) {
              console.log("Erreur modifyProfil " + err);
            }
          },

          modifyPseudoProfil() {
            try {
              this.askValue = "true"; // Ouverture du formulaire pour rentrer la nouvelle valeur
              // du param à modifier

              this.valueToModify = "pseudo";
              this.displayOkCancel = true;
            } catch (err) {
              console.log("Erreur modifyProfil " + err);
            }
          },

          //-----------------------------------------------------------------------------------------
          // validateModifyProfil
          // Modification du profil d'un utilisateur
          // param: userId
          //    methode: PUT
          //    URL: URL=http://localhost:3000/api/auth/userId
          //    userId: user à modifier trouvé ds le local storage
          //      newEmail = nouvel email
          //      newPasswd = nouveau passwd
          //      newPseudo = nouveau pseudo
          //---------------------------------------------------------------------------------

          validateModifyProfil() {
            // Lecture du local storage pour récupérer le token  du user
            if ("user" in localStorage) {
              let userInLocalStorage = JSON.parse(localStorage.getItem("user")); //objet "user" du local storage
              const userToken = userInLocalStorage.token; // le token
              const userId = userInLocalStorage.userId; // le userId

              const bearerToken = "Bearer " + userToken;

              console.log("modify profil " + userId);

              const valueToModify = this.valueToModify;
              let data = "";

              // paterns pour verifier les data
              const emailPatern = RegExp(
                "^([a-zA-Z0-9_-])+([.]?[a-zA-Z0-9_-]{1,})*@([a-zA-Z0-9-_]{2,}[.])+[a-zA-Z]{2,3}$"
              );

              const pseudoPatern = /^[A-Za-z0-9]+$/; //lettres + chiffres
              const passwdPatern = /!'/; //pas d'apostrophe

              // Maj du body en ft de la donnée à modifier
              switch (valueToModify) {
                case "email":
                  if (emailPatern.test(this.email)) {
                    data = { email: this.newValue };
                  }
                  break;
                case "pseudo":
                  if (pseudoPatern.test(this.pseudo)) {
                    data = { pseudo: this.newValue };
                  }
                  break;
                case "password":
                  if (passwdPatern.test(this.passwd)) {
                    data = { password: this.newValue };
                  }
                  break;
                default:
                  console.log("pb");
              }
              //Url  du user
              const userUrl = "http://localhost:3000/api/auth/" + userId;

              if (data === "") {
                window.alert("valeur invalide");
              } else {
                //on envoie la requete

                fetch(userUrl, {
                  method: "PUT",
                  headers: {
                    "Content-Type": "application/json",
                    Authorization: bearerToken,
                  },
                  body: JSON.stringify(data),
                })
                  .then((response) => response.json()) //reponse du fetch
                  .catch((error) => {
                    console.log("Fetch error: ", error);
                  })
                  .then((response) => {
                    window.alert(response.message); // affiche msg de retour du serveur
                    this.modifyProfilForm = false; // on replie le formulaire
                    this.valueToModify = "";
                    this.askValue = false;
                    this.displayOkCancel = false;
                  })
                  .catch((error) => {
                    console.log("Response error: ", error);
                  });
              }
            }
          }, //Fin ValidateModifyProfil

          //------------------------------------------------------------------------

          //cancel modify profil
          cancelModifyProfil() {
            this.modifyProfilForm = false; // on replie le formulaire et on reinit les variables.
            this.valueToModify = "";
            this.askValue = false;
            this.displayOkCancel = false;
          },

          //---------------------------------------------------------------------------
          //logout()
          //
          // deconnexion:
          //    Clear du local storage
          //    Retour à la page accueil
          //-------------------------------------------------------------------------------
          logout() {
            try {
              console.log("logout");
              this.isUserConnected = false; // plus de user connecté
              localStorage.clear(); // petit coup de karsher ds le local storage
              window.location.href = "./index.html"; // on retourne à la page d'accueil
            } catch (err) {
              console.log("error ft logout : " + err);
            }
          },

          //---------------------------------------------------------------------------
          //deleteProfil()
          //
          // Suppression du compte du user en cours:

          // Affichage d'un choix de bouton OK/Cancel
          //
          // recherche tu token dan sle local Storage
          //  Appel ft DELETE
          //
          //-------------------------------------------------------------------------------
          deleteProfil() {
            try {
              this.modifyProfilForm = false; // on replie le formulaire
              this.askValue = false; // pas de champ de saisie a ouvrir

              this.displayOkCancel = false;
              this.deleteValue = true;
              this.isUserConnected = false; // plus de user connecté
              window.alert(
                "ATTENTION: vous vous appretez à supprimer votre compte avec les posts et commentaires crées"
              );
            } catch (err) {
              console.log("Erreur deleteProfil " + err);
            }
          },

          //------------------------------------------------------

          validateDeleteProfil() {
            try {
              console.log("delete profil");

              // Lecture du local storage pour récupérer le token  du user
              if ("user" in localStorage) {
                let userInLocalStorage = JSON.parse(
                  localStorage.getItem("user")
                ); //objet "user" du local storage
                const userToken = userInLocalStorage.token; // le token
                const userId = userInLocalStorage.userId; // le userId

                const bearerToken = "Bearer " + userToken;

                console.log("delete profil " + userId);

                //Url  du user
                const userUrl = "http://localhost:3000/api/auth/" + userId;

                fetch(userUrl, {
                  method: "DELETE",
                  headers: {
                    "Content-Type": "application/json",
                    Authorization: bearerToken,
                  },
                })
                  .then((response) => response.json()) //reponse du fetch
                  .catch((error) => {
                    console.log("Fetch error: ", error);
                  })
                  .then((response) => {
                    this.profilForm = false; // on replie le formulaire
                    window.alert(response.message); // affiche msg de retour du serveur
                    //retour à l'acueil  ici
                    window.location.href = "./index.html"; // on retourne à la page d'accueil
                    localStorage.clear(); // petit coup de karsher ds le local storage
                  })
                  .catch((error) => {
                    console.log("Response error: ", error);
                  });
              }
            } catch (err) {
              console.log("error ft deleteProfil : " + err);
            }
          },

          //cancel Delete profil
          cancelDeleteProfil() {
            this.deleteValue = false;
          },
        }, // Fin des methodes
      }; // Fin RootComponent

      const app = Vue.createApp(RootComponent).mount("#app");
      console.log(app);
    </script>
  </body>
</html>
