<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Groupomania</title>

    <meta charset="utf-8" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <meta name="description" content="Réseau social d'entreprise" />
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico" /> -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
   

        <!--Fontawsome-->
    <script
      src="https://kit.fontawesome.com/6a1e5290f1.js"
      crossorigin="anonymous"
    ></script>

    <!--Appel Normalize-->
    <link rel="normalize" href="CSS/normalize.css" />
    <link href="../css/style.css" rel="stylesheet" />
    <link href="../css/login.css" rel="stylesheet" />
    <link href="../css/posts.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <header>
      <div class="limitedWidthBlockContainer informations">
        <div class="limitedWidthBlock">
          <ul>
            <li>
              <img
                src="../images/icons/phone.svg"
                alt="logo de téléphone"
                class="informations__phone"
              />012345678
            </li>
          </ul>
        </div>
      </div>
      <div class="limitedWidthBlockContainer menu">
        <div class="limitedWidthBlock">
          <a href="./index.html">
            <img
              class="logo"
              src="../images/logo.png"
              alt="Logo de l'entreprise"
            />
          </a>
          <nav>
            <ul>
              <a href="./index.html"><li>accueil</li></a>
            </ul>
          </nav>
        </div>
      </div>
    <!-- <main>** -->
    <main id="app">
      <h1>les posts des salariés de Groupomania</h1>

      <div class="postHeader">
        <h3> Bonjour {{connectedName}}   {{connectedUserId}}</h3>
        <template v-if="connectedModerator">
          <h3> Vous êtes moderateur</h3>
        </template>
        <div>
        <!-- Bouton pour créer un post -->
        
                
             
          <button class="createPostButton" @click="createPost()">    
                        
            Créer un post
                       
          </button>
        
        </div>
        <template v-if= "createPostForm">
          <!-- Affichage du formulaire de creation du post -->
          <span v-if="newPost">Votre nouveau post : {{ newPost }}</span>
		      <div>
			      <label for="newPost">Votre nouveau post</label>
			      <input type="text" v-model="newPost" id="newPost">
		      </div>


          <!-- Boutons pour valider ou annuler cette creation -->
          <div>
			      
			      <input @click="validateCreationPost()" type="submit" value="Valider" id="order" />
		      </div>
          <div>
			      
			      <input @click="cancelCreationPost()" type="submit" value="Annuler" id="order" />
		      </div>

        </template>
      </div>
      <div>
        <template v-if="errored">
          <p>Serveur indisponible</p>
        </template>

        <template v-else>
          <h4 v-if="loading">Loading... dernières nouvelles</h4>
          <h4 v-else=>Dernières nouvelles</h4>
          <div class="postsList">
            <div v-for="itemPost in posts.posts" :key="itemPost.postId" class="post">

              <article class="postArticle">       
       
                <div class="postItem">
                  <div class="postHeader">
                    
                    <div class="postDate"> <p>Date: {{itemPost.date}}</p>
                            </div>
                    <div class="postOwner">
                      <p>par: {{itemPost.pseudo}}</p>
                    </div>
                    

                  
                  <!-- La petite poubelle pour detruire le post -->
                  <!-- et le petit crayon pour le modifier -->
                  <!-- Affichés seulement pour le moderateur ou proprietaire du post -->
                  <div>
                    
                    <template v-if="connectedModerator || connectedUserId==itemPost.userId">
                      <button @click="deletePost(itemPost.postId)">
                        <span class="fas fa-trash">  Delete</span>
                      </button>
                      <button @click="modifyPost(itemPost.postId)">
                        <span class="fas fa-pen">  Modify</span>
                      </button>
                    </template>
                  </div>

                  </div>
                  <div class="postInfos">
                    <div class="postText">
                      <p> post n° {{itemPost.postId}} : {{itemPost.post}}</p>
                    </div>
                      <button @click="displayComments(itemPost.postId,$event)">

                        Afficher les commentaires
                      
                       
                      </button>


                        <template v-for="itemComment in comments.comment" :key="itemComment.commentId" class="comment">  
  
                            <template v-if="itemPost.postId==itemComment.postId">
                              <div class="commentList"> 
                                <div class="commentItem">
                                  <div class="commentHeader">
                                    <p> Date:  {{itemComment.date}} par {{itemComment.pseudo}} </p>
                                    <div>
                                      <p>{{itemComment.comment}}</p>
                                    </div>
                                  </div>
                                  <div class="commentButtons">
                                  <template v-if="connectedModerator || connectedUserId==itemComment.userId">
                                    <button @click="deleteComment(itemPost.postId,itemComment.commentId)">
                                      <span class="fas fa-trash">  Delete</span>
                                    </button>
                                    <button @click="modifyComment(itemPost.postId,itemComment.commentId)">
                                      <span class="fas fa-pen">  Modify</span>
                                    </button>
                                  </template>
                                  </div>
                                </div>
                              </div>
                          
                            </template>
                        </template>
                      
                  </div>
                </div>
              </article>
            </div>
          </div>
        </template>
      </div>
    </main>


      <!-- Footer -->

    <footer>
      <div class="limitedWidthBlockContainer footerMain">
        <div class="limitedWidthBlock">
          <div>
            <img
              class="logo"
              src="../images/logo.png"
              alt="Logo de l'entreprise"
            />
          </div>
          <div>
            <!--<p>{{adresse}} <br />{{ville}}</p>-->
          </div>
        </div>
      </div>
    </footer>
    <script src="https://unpkg.com/vue@next"></script>

    //----------------------------------------------------------------------------
    // vuejs3 
    //----------------------------------------------------------------------------
    <script>
          
      const RootComponent = {
        //les data
        data() {
          return {
            //nom et infos de l'utilisateur connecté
            connectedName: "",
            connectedUserId:"",
            connectedModerator:false,

            //tableau des posts et des commentaires
            posts: [],
            comments: [],

            // etats chargement et erreurs
            loading: false,
            errored: false,

            loadingComments: false,
            erroredComments: false,

            // champs du formulaire pour creéation ou modification posts et comments
            createPostForm:false, //sera true pour crer un post
            newPost:'',

            createCommentForm:false, //sera true pour crer un commentaire
            newComment:"",


          };
        }, // fin des data

    //----------------------------------------------------------------------------
    //Initialisation de la page
    //-----------------------------------------------------------------------------
			beforeCreate() {
        //loader    
				this.loading = true;
			},

    //----------------------------------------------------------------------------
    // Suite initialisation
    // Affichage de la page au chargement
    // et appel de l'API pour afficher les posts.
    // this permet d'acceder aux données de l'application
    //----------------------------------------------------------------------------
      created() {


          // Lecture du local storage pour récupérer les infos du user
          let userInLocalStorage = JSON.parse(localStorage.getItem("user")); //objet "user" du local storage
          const userToken = userInLocalStorage.token; // le token

          // Les infos de l'utilisateur connecté
          
          this.connectedName=userInLocalStorage.pseudo; // le nom affiché en entete de feuille
          this.connectedUserId=userInLocalStorage.userId;
          this.connectedModerator=userInLocalStorage.moderator;

          console.log("user connecte ;" + this.connectedName + this.connectedUserId + this.connectedModerator)

          const bearerToken = "Bearer " + userToken;
          const postUrl = "http://localhost:3000/api/post/"; //Url pour récupérer les posts
          fetch(postUrl, {
            method: "GET",
            headers: {
              "Content-Type": "application/json",
              Authorization: bearerToken,
            },
          })
            .then((response) => response.json()) //reponse du fetch
            .catch((error) => {
              console.log("Fetch error: ", error);
              this.errored = true;
            })
            .then((data) => {
              this.posts = data; //Data renvoyées du serveur
            })
            .catch((error) => {
              console.log("Response error: ", error);
              this.errored = true;
            });
      }, // Fin created

    //------------------------------------------------------------------------------------
    // Page complètement chargée
    //------------------------------------------------------------------------------------
      mounted() {
        // Load terminé
				this.loading = false
			},

    //------------------------------------------------------------------------------------
    // Les methodes
    //------------------------------------------------------------------------------------
        methods: {

          //-----------------------------------------------------------------------------------------
          // createPosts
          // Creation d'un post
          // param: postId
          //  methode: POST
          //  URL: http://localhost:3000/api/post 
          //---------------------------------------------------------------------------------

          createPost(){
            console.log ("create post");
            this.createPostForm=true;   //affichage du formulaire de creatino de post
          },

          //-----------------------------------------------------------------------------------------
          // validateCreationPost
          // Creation du post
          // param: post
          //  methode: POST
          //  URL: http://localhost:3000/api/post/ 
          //---------------------------------------------------------------------------------
          validateCreationPost(){
          console.log("creation new post : " + this.newPost)
          
         


            // Lecture du local storage pour récupérer le token  du user
            let userInLocalStorage = JSON.parse(localStorage.getItem("user")); //objet "user" du local storage
            const userToken = userInLocalStorage.token; // le token

            const bearerToken = "Bearer " + userToken;
            //{"post":" post de toutou 6 mai","imageUrl":""}st/";

            const data = {post:this.newPost,"imageUrl":""};

            //Url des commentaires du post
            const postUrl =
              "http://localhost:3000/api/post"
            fetch(postUrl, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                Authorization: bearerToken,
              },
              body:JSON.stringify(data),
            })
              .then((response) => response.json()) //reponse du fetch
              .catch((error) => {
                console.log("Fetch error: ", error);
                this.erroredComments = true;
              })
              .then((response) => {
                this.comments = response; 
              
              
              })
              .catch((error) => {
                console.log("Response error: ", error);
                this.erroredComments = true;
              });
          }, //Fin validateCreationPost
   

          cancelCreationPost(){},
          //
          //-----------------------------------------------------------------------------------------
          // displayComments
          // Affichage des commentaires du post
          // param: postId
          //  methode: GET
          //  URL: http://localhost:3000/api/post/postId/comment  
          //---------------------------------------------------------------------------------
          displayComments(postId,event) {
            console.log(postId);


            // Lecture du local storage pour récupérer le token  du user
            let userInLocalStorage = JSON.parse(localStorage.getItem("user")); //objet "user" du local storage
            const userToken = userInLocalStorage.token; // le token

            const bearerToken = "Bearer " + userToken;

            //Url des commentaires du post
            const commentsUrl =
              "http://localhost:3000/api/post/" + postId + "/comment";

            fetch(commentsUrl, {
              method: "GET",
              headers: {
                "Content-Type": "application/json",
                Authorization: bearerToken,
              },
            })
              .then((response) => response.json()) //reponse du fetch
              .catch((error) => {
                console.log("Fetch error: ", error);
                this.erroredComments = true;
              })
              .then((response) => {
                this.comments = response; //this permet d'acceder aux données de l'application
              
              
              })
              .catch((error) => {
                console.log("Response error: ", error);
                this.erroredComments = true;
              });
          }, //Fin displayComments

          //-----------------------------------------------------------------------------------------
          // Delete post
          // Suppression d'un post
          // param: postId
          //  methode: DELETE
          //  URL: http://localhost:3000/api/post/postId  
          //---------------------------------------------------------------------------------

                   
          deletePost(postId) {
            console.log("delete post n : "+ postId);


            // Lecture du local storage pour récupérer le token  du user
            let userInLocalStorage = JSON.parse(localStorage.getItem("user")); //objet "user" du local storage
            const userToken = userInLocalStorage.token; // le token

            const bearerToken = "Bearer " + userToken;

            //Url  du post
            const postUrl =
              "http://localhost:3000/api/post/" + postId ;

            fetch(postUrl, {
              method: "DELETE",
              headers: {
                "Content-Type": "application/json",
                Authorization: bearerToken,
              },
            })
              .then((response) => response.json()) //reponse du fetch
              .catch((error) => {
                console.log("Fetch error: ", error);
                this.erroredComments = true;
              })
              .then((response) => {
                this.comments = response; 
              })
              .catch((error) => {
                console.log("Response error: ", error);
                this.erroredComments = true;
              });
          }, //Fin deletePost

          //---------------------------------------------------------------------------

          //-----------------------------------------------------------------------------------------
          // modify post
          // Modification d'un post
          // Params: postId
          //  Nouveau post
          //
          //  methode: PUT
          //  URL: http://localhost:3000/api/post/:id  
          //-----------------------------------------------------------------------------------

                   
          modifyPost(postId) {
            console.log("modify post n : "+ postId);


            // Lecture du local storage pour récupérer le token  du user
            let userInLocalStorage = JSON.parse(localStorage.getItem("user")); //objet "user" du local storage
            const userToken = userInLocalStorage.token; // le token

            const bearerToken = "Bearer " + userToken;

            //Url  du post
            const postUrl =
              "http://localhost:3000/api/post/" + postId ;

            fetch(postUrl, {
              method: "PUT",
              headers: {
                "Content-Type": "application/json",
                Authorization: bearerToken,
              },
            })
              .then((response) => response.json()) //reponse du fetch
              .catch((error) => {
                console.log("Fetch error: ", error);
                this.erroredComments = true;
              })
              .then((response) => {
                this.comments = response; 
              })
              .catch((error) => {
                console.log("Response error: ", error);
                this.erroredComments = true;
              });
          }, //Fin modifyPost

          //---------------------------------------------------------------------------
          //-----------------------------------------------------------------------------------------
          // DeleteComment
          // Suppression d'un commentaire d'un post
          // param: postId, commentId
          //    methode: DELETE
          //    URL: http://localhost:3000/api/postId/comment/commentId
          //    postId = post dont on veut le commentaires.
          //    commentId: commentaire à modifier
          //---------------------------------------------------------------------------------

                   
          deleteComment(postId,commentId) {
            console.log("delete commentaire n° "+ commentId + " du post n : "+ postId);


            // Lecture du local storage pour récupérer le token  du user
            let userInLocalStorage = JSON.parse(localStorage.getItem("user")); //objet "user" du local storage
            const userToken = userInLocalStorage.token; // le token

            const bearerToken = "Bearer " + userToken;

            //Url  du comment
            const commentUrl =
              "http://localhost:3000/api/post/" + postId + "/comment/" + commentId ;

            fetch(commentUrl, {
              method: "DELETE",
              headers: {
                "Content-Type": "application/json",
                Authorization: bearerToken,
              },
            })
              .then((response) => response.json()) //reponse du fetch
              .catch((error) => {
                console.log("Fetch error: ", error);
                this.erroredComments = true;
              })
              .then((response) => {
                this.comments = response; 
              })
              .catch((error) => {
                console.log("Response error: ", error);
                this.erroredComments = true;
              });
          }, //Fin deleteComment




          //-----------------------------------------------------------------------------------------
          // modifyComment
          // Modification d'un commentaire d'un post
          // param: postId, commentId, newComment
          //    methode: PUT
          //    URL: http://localhost:3000/api/postId/comment/commentId
          //    postId = post dont on veut le commentaires.
          //    commentId: commentaire à modifier
          //
          //    newComment: Nouveau commentaire
          //---------------------------------------------------------------------------------

                   
          modifyComment(postId,commentId) {
            console.log("modify commentaire n° "+ commentId + " du post n : "+ postId);


            // Lecture du local storage pour récupérer le token  du user
            let userInLocalStorage = JSON.parse(localStorage.getItem("user")); //objet "user" du local storage
            const userToken = userInLocalStorage.token; // le token

            const bearerToken = "Bearer " + userToken;

            //Url  du comment
            const commentUrl =
              "http://localhost:3000/api/post/" + postId + "/comment/" + commentId ;

            fetch(commentUrl, {
              method: "PUT",
              headers: {
                "Content-Type": "application/json",
                Authorization: bearerToken,
              },
              
            })
              .then((response) => response.json()) //reponse du fetch
              .catch((error) => {
                console.log("Fetch error: ", error);
                this.erroredComments = true;
              })
              .then((response) => {
                this.comments = response; 
              })
              .catch((error) => {
                console.log("Response error: ", error);
                this.erroredComments = true;
              });
          }, //Fin modifyComment


          //-----------------------------------------------------------
          toggleSelection(postComments, event) {
  					let ref = 'button'+postComments.postId
  					if(this.selection.includes(postComments)) {
  						this.selection.splice(this.selection.indexOf(postComments), 1)
  						this.$refs[ref].textContent = 'Afficher les commentaires'
  					} else {
  						this.selection.push(postComments)
  						this.$refs[ref].textContent = 'Replier les commentaires'
  						
  					}
  				}

        }, // Fin des methodes
      }; // Fin RootComponent

      const app = Vue.createApp(RootComponent).mount("#app");
      console.log(app);
    </script>
  </body>
</html>
