/*********/
/*GENERAL*/
/*********/

main {
  padding-bottom: 90px;
}
h1 {
  margin-bottom: 90px;
}

p {
  color: black;
}

/***************************
Bouton de nav du header
*****************************/
.HeaderButton {
  display: flex;
  flex-direction: rows;
}

/***************************
 Menu de profil
**************************/
.profilMenu {
  display: flex;
  flex-direction: column;
}

.pucesItems {
  display: flex;
  flex-direction: column;
  margin: none;
  padding: none;
}
/************/
/*PostsItems*/
/************/

.postHeader {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.createPostButton {
  display: flex;
  justify-content: center;

  font-size: 22px;
  border-radius: 40px;

  background-color: var(--secondary-color);
  color: white;
  padding: 18px 28px;
}

.createPostButton button {
  display: flex;
  justify-content: center;

  font-size: 22px;
  border-radius: 40px;

  background-color: var(--secondary-color);
  color: white;
  padding: 18px 28px;
}

/*survol du bouton*/
.createPostButton button:hover {
  box-shadow: rgb(42 18 206 / 90%) 0 0 22px 6px;
}

.postsList {
  display: flex;

  flex-direction: column;
  align-items: space-around;
  justify-content: center;
  border: none;

  margin: 20px, 20px, 20px, 20px; /*top right bottom left*/
}

.postItem {
  /*width: 50%;*/
  display: flex;
  flex-direction: column; /* vertical*/
  justify-content: space-around;
  background: white;
  border: 3px solid black;
  margin: 20px, 20px, 20px, 20px; /*top right bottom left*/
  padding: 20px, 20px, 20px, 20px; /*top right bottom left*/
}

/* Champ pour écrire un post*/
.postText {
  height: 100px;
  width: 600px;

  border-radius: 13px;
  border: 0;
}

.postHeader {
  display: flex;
  flex-direction: rows;
  justify-content: space-around;
  border: 1px solid black;

  padding: 20px, 20px, 20px, 20px; /*top right bottom left*/
}

.post__order {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}
.post__order__form {
  width: 100%;
}
.post__order__form__question {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  height: 100px;
  width: 600px;
}
.post__order__form__question input {
  border-radius: 13px;
  border: 0;
  height: 100px;
  width: 600px;

  margin-top: 4px;
}
.post__order__form__question input:focus {
  outline: none;
}
.post__order__form__question p {
  margin: 0;
  color: #fbbcbc;
  font-size: 15px;
  margin-left: 8px;
}
.post__order__form__submit {
  display: flex;
  justify-content: center;
}
.post__order__form__submit input {
  font-size: 22px;
  border-radius: 40px;
  border: 0;
  background-color: var(--Third-color);
  color: white;
  padding: 18px 28px;
  cursor: pointer;
  margin-top: 40px;
}
.post__order__form__submit input:hover {
  box-shadow: rgb(42 18 206 / 90%) 0 0 22px 6px;
}

/*---------------------------------------------------*/

.commentList {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-around;
  border: 3px solid red;
  padding-top: 35px;
  margin-bottom: 30px;
}

.commentItem {
  display: flex;
  flex-direction: column; /* vertical*/
  justify-content: space-around;
  background: white;
  border: 1px solid black;
  margin: 20px, 20px, 20px, 20px; /*top right bottom left*/
  padding: 20px, 20px, 20px, 20px; /*top right bottom left*/
}

.commentHeader {
  display: flex;
  flex-direction: column; /* vertical*/
  justify-content: space-around;
  background: rgb(241, 238, 238);
  font-size: 11px;
  border: 1px solid black;
  margin: 20px, 20px, 20px, 20px; /*top right bottom left*/
  padding: 20px, 20px, 20px, 20px; /*top right bottom left*/
}

.commentButton {
  display: flex;
  flex-direction: rows; /* cote cote*/
  justify-content: space-around;
  background: grey;
  border: 1px solid black;
  margin: 20px, 20px, 20px, 20px; /*top right bottom left*/
  padding: 20px, 20px, 20px, 20px; /*top right bottom left*/
}

.commentButtonsHeader {
  display: flex;
  flex-direction: rows; /* cote cote*/
  justify-content: space-around;
}

/* Champ pour écrire un commentaire*/
.commentText {
  height: 60px;
  width: 300px;

  border-radius: 13px;
  border: 2px var(--secondary-color);
  margin: 5px;
  padding: 5px;
}

/***************/
/*Media queries*/
/***************/

@media (max-width: 991.98px) {
  .cart__item__content__titlePrice {
    flex-direction: column;
  }
}

@media (max-width: 575.98px) {
  .cart__item {
    flex-direction: column;
    align-items: center;
  }
  .cart__item__img {
    width: 50%;
  }
  .cart__item__content {
    width: 90%;
  }
  .cart__item__content__titlePrice {
    margin-bottom: 20px;
  }
  .cart__price p {
    text-align: center;
  }
  .post__order {
    justify-content: center;
  }
  .post__order__form {
    width: 75%;
  }
}
